* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif !important;
	color: #FFA81E;
}

.container-fluid {
	outline:  1px solid red;
	display:flex;
  justify-content: center;
}

.container-flex-column {
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding: 1em;
  border:  1px solid yellow;
  height: 100vh;

}

.vh100 {
	height: 100vh;
	font-size: 50px;
}
.grad100 {
	background: #000;
}
.line {
	border: 2px solid #fff;
}
#food {
	margin: 3px;
}
#map {
	height: 150px;
}
.icon {
	font-size: 10px;
	color: red;
}
