<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Foddmap</title>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h1 class="text-center">FOODMAP</h1>
        <div class="box one"></div>
				<hr class="line">
        <div class="box two"></div>
			</div>
      </div>
	</header>

	<!-- Visualización del mapa-->
	<section class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-12">
				<img  src="../assets/images/map00.PNG" alt="map" class="img-responsive img-thumbnail map">
			</div>
		</div>
	</section >
	<br>

	<!-- Visualización de las opciones de restaurantes-->
	<section  class="container-fluid">
    <div class="row col-xs-12 col-sm-6 col-md-8">
		  <h2 class="text-center">Comida cerca de ti <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
		  <button class="btn dropdown-toggle" type="button" id="dropdownPlaces" data-dismiss="modal" data-toggle="dropdown" aria-haspopup="true" aria-label="close" aria-expanded="true">Restaurantes, Cevicherias, RestoBar ...<span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></button>
		  <ul class="dropdown-menu listado" aria-labelledby="dropdownPlaces">
		    <li><a href="#">Restaurantes</a></li>
		    <li><a href="#">Cevicherias</a></li>
		    <li><a href="#">RestoBar</a></li>
      </ul>
		</div>
	</section>
	<!-- Contenedor de los Restauraante -->
	<section class="container-fluid">
		<div class="row">
			<div class="filtros col-xs-12 col-sm-6 col-md-10">
				<div class="restaurantes col-xs-6 ">
					<img src="../assets/images/amazonica.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="cevicherias col-xs-6">
					<img src="../assets/images/criolla.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="restobar col-xs-6">
					<img src="../assets/images/marina.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="restaurantes col-xs-6">
					<img src="../assets/images/arequipe.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="restaurantes col-xs-6">
					<img src="../assets/images/amazonica.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="cevicherias col-xs-6">
					<img src="../assets/images/criolla.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="restobar col-xs-6">
					<img src="../assets/images/bar.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				<div class="restaurantes col-xs-6">
					<img src="../assets/images/arequipe.jpg" alt="Responsive image" class="img-responsive img-rounded food">
				</div>
				</div>

		  </div>

	</section>
	 <!-- modales  -->
	 <!-- Modal Restaurantes -->
	 <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/options.js"></script>

</body>
</html>
